#root {
  width: 100vw;
}

nav {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* .navLinks-container { */
  /* display: flex; */
  /* justify-content: space-around; */
/* } */

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0 5vw 0 5vw;
}

.block-container {
  border-radius: 3%;
  padding: 2%;
}

/* stats */

#stats-block {
  width: 100%;
  background-color: #5c5c5c;
  text-align: center;
}

.stat {
  display: flex;
  justify-content: space-around;
}

.stat-block {
  display: flex;
  flex-direction: column;
}
