#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.block-container {
  width: 100;
  height: "92px";
}

/* stats */

.stat {
  display: flex;
  justify-content: space-around;
}

.stat-block {
  display: flex;
  flex-direction: column;
}